<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/bus.png" width="35" height="35" class="d-inline-block align-top space" alt="logo">
    Travel Site
  </a>
  <button type="button" *ngIf="isInSession == true" (click)="destination()" class="btn btn-outline-warning button-size space">Destinations</button>
  <button type="button" *ngIf="isInSession == true" (click)="journey()" class="btn btn-outline-warning button-size space">Journeys</button>
  <button type="button" *ngIf="isInSession == true" (click)="passenger()" class="btn btn-outline-warning button-size space">Passengers</button>
  <button type="button" *ngIf="isInSession == true" (click)="ticket()" class="btn btn-outline-warning button-size space">Tickets</button>
  <button type="button" *ngIf="isinAdmin == false" (click)="loginAdmin()" class="btn btn-warning button-size btn-style space">Admin</button>
  <button type="button" *ngIf="isInSession == true" (click)="closeAdmin()" class="btn btn-warning button-size btn-style space">Close</button>
</nav>

<router-outlet></router-outlet>
