<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container home-form">
            <div class="row">
                <div class="col-md-12 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body bg-dark">
                            <div class="text-center">
                                <h1>Upadate Ticket</h1>
                                <form [formGroup]="updateForm" autocomplete="off" class="form space" (ngSubmit)="update()">
                                    <p>
                                        <label for="journey">Journey:</label>
                                        <input type="text" formControlName="journey" id="journey" class="button-size" />
                                    </p>
                                    <p>
                                        <label for="passenger">Passenger:</label>
                                        <input type="text" formControlName="passenger" id="passenger" class="button-size" />
                                    </p>
                                    <p>
                                        <label for="seat">Seat:</label>
                                        <input type="text" formControlName="seat" id="seat" class="button-size" />
                                    </p>
                                    <div class="form-group space">
                                        <button type="submit" class="btn btn-warning button-size">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2022 Copyright
        </div>
        <!-- Copyright -->
      </footer>
</html>