<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="body-title">
            <h1 >Destinations</h1>
        </div>
        <form class="divDestination" [formGroup]="AddForm" autocomplete="off" (ngSubmit)="addDestination()">
            <input formControlName="name" id="name" class="inputName" contenteditable="true" />
            <button type="submit" class="btn btn-dark btnAdd">Add</button>
        </form>
        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of destination">
                    <td scope="row">{{d.id}}</td>
                    <td>{{d.name}}</td>
                    <td><button type="button" (click)="updateDestination(d.id)" class="btn btn-secondary button-size btn-style">Update</button></td>
                    <td><button type="button" (click)="deleteDestination(d.id, d.name)" class="btn btn-danger button-size btn-style">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </body>
    <footer class="bg-dark text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3">
          © 2022 Copyright
        </div>
        <!-- Copyright -->
    </footer>
</html>